<body>
  <div id="home" class="header">
    <img src="/assets/BuLogo.png" alt="Logo" />
    <h1 class="header_text">Enrollment Form</h1>
    <div class="nav">
      <a href="#home">Home</a>
      <a href="#courses">Courses</a>
      <a href="#alumni">Alumni</a>
      <a href="#form">Form</a>
    </div>
    <button class="header_button" type="button">Log In</button>
  </div>

  <div class="home">
    <img class="apply_img" src="assets/ApplyNow.png" alt="Apply Now" />
  </div>

  <h2 id="courses" class="offered_text">Programs Offered</h2>

  <div class="courses_container">
    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/Edu.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Basic Education</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/shs.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Senior High School</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/nr.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Nursing</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/it.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Information System</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img
          class="course_option"
          src="assets/engineering.jpg"
          alt="Course Option"
        />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Engineering</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/hm.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Hospitality Management</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/cp.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">Certificate Programs</p>
      </div>
    </div>

    <div class="courses">
      <div class="course_wrap">
        <img class="course_option" src="assets/ip.jpg" alt="Course Option" />
      </div>
      <div class="course_textwrap">
        <p class="course_text">International programs</p>
      </div>
    </div>
  </div>

  <h2 id="alumni" class="offered_text alumni_header">
    Successful Alumni Stories
  </h2>

  <div class="alumni_wrapper">
    <div class="content-wrapper">
      <img src="assets/alumni1.jpg" alt="Alumni Image" class="alumni_image" />
      <div class="text-wrapper">
        <h2>Emmanuel Malana</h2>
        <p>
          Baliuag University had provided me with the tools and skills for a
          life-changing opportunity of becoming a multi-awarded teacher-leader
          in the United States. My education from the Mathematics Department of
          the College of Education and the training and exposure I had as
          President of the College of Education and the BU Student Council
          became my tools to becoming an outstanding teacher-leader in the
          United States.
        </p>
      </div>
    </div>

    <div class="content-wrapper">
      <img src="assets/alumni2.jpg" alt="Alumni Image" class="alumni_image" />
      <div class="text-wrapper">
        <h2>Yusoph Maute</h2>
        <p>
          It’s been exactly 10 years since I graduated from Baliuag University,
          and to this day, I am still grateful for the training and experiences
          I got from BU which prepared me well for the corporate world and
          opened so many opportunities for me. BU trained me to be an analytical
          and critical thinker which is very important in my profession. The
          learnings during my stint as a student leader at BU has also been
          invaluable for the roles I play at my current work and at various
          professional organizations I am part of.
        </p>
      </div>
    </div>

    <div class="content-wrapper">
      <img src="assets/alumni3.jpg" alt="Alumni Image" class="alumni_image" />
      <div class="text-wrapper">
        <h2>Rowhen Roque</h2>
        <p>
          With BU’s extensive training and comprehensive nursing curriculum, not
          only was I able to meet the standards of my home country, but I could
          sell myself in the competitive world overseas. My Alma Mater
          cultivated in me that amazing spirit to genuinely provide quality
          service with humanitarian aplomb wherever I may be. Being dedicated to
          my craft and continuously striving to be the best version of myself,
          as nurse and human-being, are virtues and values I will forever
          treasure and owe from my beloved University.
        </p>
      </div>
    </div>

    <div class="content-wrapper">
      <img src="assets/alumni4.jpg" alt="Alumni Image" class="alumni_image" />
      <div class="text-wrapper">
        <h2>Regina Parungao</h2>
        <p>
          Baliuag University has lived up to its academic reputation and more.
          Through the help of this institution, I have found opportunities for
          personal growth and development, not only academically but also about
          life outside the four corners of a classroom. The university and the
          professors have showed incredible care and commitment to us students.
          They have shared their collective wisdom and resources, leading us to
          find our own meaning and purpose in life.
        </p>
      </div>
    </div>
  </div>

  <div id="form" class="enrollmentWrap">
    <div class="enrollmentImageWrap">
      <p class="enrollmentImageDescription">
        Baliuag University's student enrollment form stands as the gateway to an
        enriching academic journey, encapsulating the institution's commitment
        to nurturing bright minds and fostering holistic development. Tailored
        to accommodate diverse aspirations and academic pursuits, this form
        serves as a pivotal tool for students to embark on their educational
        odyssey with confidence and purpose. With meticulous attention to
        detail, it guides applicants through the process of providing essential
        personal information, academic background, and program preferences,
        laying the groundwork for a seamless transition into university life.
        Beyond its administrative function, the enrollment form embodies the
        spirit of empowerment, offering students the opportunity to chart their
        path towards intellectual growth, personal fulfillment, and future
        success. As students submit their enrollment forms, they not only join a
        vibrant learning community but also embark on a transformative journey
        towards realizing their fullest potential within the esteemed halls of
        Baliuag University.
      </p>
      <img
        class="enrollmentBookList"
        src="assets/buschool.jpg"
        alt="Enrollment Form List"
      />
    </div>
    <div class="enrollmentFormWrap">
      <h2 class="enrollmentRequestHeader">Student Enrollment Form</h2>
      <form #enrollmentForm="ngForm" (ngSubmit)="submitEnrollmentForm()">
        <div class="enrollmentFormContentWrap">
          <label for="student_name">Student Name</label>
          <div class="enrollmentNameWrap">
            <input
              id="student_name"
              type="text"
              name="studentName"
              [(ngModel)]="studentName"
              minlength="2"
              maxlength="15"
              required
            />
          </div>
          <div
            *ngIf="
              enrollmentForm.controls['studentName'].touched &&
              enrollmentForm.controls['studentName'].invalid
            "
            class="alert alert-danger"
          >
            Student Name is required!
          </div>

          <label for="student_id">Student ID</label>
          <input
            id="student_id"
            type="text"
            name="studentId"
            [(ngModel)]="studentId"
            required
          />
          <div
            *ngIf="
              enrollmentForm.controls['studentId'].touched &&
              enrollmentForm.controls['studentId'].invalid
            "
            class="alert alert-danger"
          >
            Student ID is required!
          </div>
          <label for="address">Address</label>
          <input
            id="address"
            type="text"
            name="address"
            [(ngModel)]="address"
            required
          />
          <div
            *ngIf="
              enrollmentForm.controls['address'].touched &&
              enrollmentForm.controls['address'].invalid
            "
            class="alert alert-danger"
          >
            Address is required!
          </div>
          <label for="course">Course</label>
          <input
            id="course"
            type="text"
            name="course"
            [(ngModel)]="course"
            required
          />
          <div
            *ngIf="
              enrollmentForm.controls['course'].touched &&
              enrollmentForm.controls['course'].invalid
            "
            class="alert alert-danger"
          >
            Course is required!
          </div>
          <label for="level">Academic Level</label>
          <input
            id="level"
            type="text"
            name="level"
            [(ngModel)]="level"
            required
          />
          <div
            *ngIf="
              enrollmentForm.controls['level'].touched &&
              enrollmentForm.controls['level'].invalid
            "
            class="alert alert-danger"
          >
            Academic Level is required!
          </div>
          <label for="more_info"
            >Please input any additional details or requirements:</label
          >
          <textarea
            name="details"
            id="more_info"
            cols="30"
            rows="10"
            [(ngModel)]="details"
          ></textarea>
        </div>
        <button type="submit" [disabled]="enrollmentForm.invalid">
          Submit Form
        </button>
      </form>
    </div>
  </div>
</body>
